.search-cloud:before{
	content: '';
	display: block;
	border: 7px solid transparent;
	border-bottom: 10px solid rgb(255, 255, 255);
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: -15px;
	left: 5%;
}
.search-cloud{
	display: none;
	width: 300px;
	min-height: 100%;
	background: #fff none repeat scroll 0% 0%;
	top: 70px;
	position: absolute;
	left: 45px;
	z-index: 4;
	padding: 10px 0 20px 0;
	text-align: left;
}
.search-cloud button{
	background: rgb(68, 92, 116) none repeat scroll 0% 0%;
	border: medium none;
	color: rgb(255, 255, 255);
	margin: 10px auto 0px;
	padding: 5px 15px;
	font-weight: 600;
	transform: translate(200%, 0px);
	font-size: 75%;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.6em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #838383;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 75.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.1em 0;
	width: 100%;
}
