
/*========== Навигация ========*/
.navigation {
	background: #445C74;
	color: #fff;
	text-align: center;
	min-width: 200px;
	z-index: 2;
	position: fixed;
	left: 0;
	top: 52px
}
.navigation span {
	display: block;
	text-align: left;
	padding: 15px 0 15px 10px;
	color: #d2d2d2;
	font-size: .875em;
	font-weight: 300
}
.navigation .navigation-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.navigation .navigation-list li {
	padding: 10px;
	position: relative;
	text-align: left;
	border-left: 3px solid transparent
}
.navigation .navigation-list li:hover {
	background-color: #376B79;
	cursor: pointer;
	border-left: 3px solid #03C3AE
}

.navigation .navigation-list li a {
	color: #fff;
	text-decoration: none;
	font-size: .975em;
	font-weight: 400
}
.navigation .navigation-list li a .fa {
	padding-right: 15px
}