<script src="js/classie.js"></script>
<script src="js/calendar.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>
<script src="js/script.js"></script>
<!--<script src="js/libs/angular/angular.min.js"></script>
<script src="js/libs/angular/angular-route.min.js"></script>-->
<script src="js/libs/moment/min/moment.min.js"></script>
<script src="js/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="js/libs/fullcalendar/dist/locale-all.js"></script>
<script src="js/libs/bootstrap/bootstrap.js"></script>
<script src="js/libs/modernizr.custom.js"></script>




<!-- Optimized loading JS End -->