gateway/src/main/resources/static/* linguist-vendored
(\.|-)min\.(js|css)$ linguist-vendored=false
([^\s]*)import\.(css|less|scss|styl)$ linguist-vendored=false
(^|/)angular([^.]*)\.js$ linguist-vendored=false