@import 'https://fonts.googleapis.com/css?family=Open+Sans:400';
body {
    font-family: Roboto, sans-serif;
}
.col-md-2.col-lg-2.sidebar,
.col-sm-3.sidebar,
.main-content .col-sm-10 .col-md-10 .col-lg-10 {
    padding: 0
}
.rightside.col-sm-7.col-md-8.col-lg-6 {
    padding-right: 0;
}
.page-wrapper {
    position: relative;
    background-color: #edeef0
}
.btn {
    margin-top:9px;
    margin-bottom: 5px;
}
.inputs {
    width: 80%;
    margin: 0 auto;
}
#login-btn {
    float: right;
    background:#5e81a8;
    color: white;
    border-radius:0;
    padding-left:18px;
    padding-right:18px;
}
#log-check-label {
    font-weight:300;
    font-size: 15px;
    color:grey;
}
#remember {
    margin-top:-2px;
}
.enter {
        position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 280px;
	margin: auto;
  background: white;
        border-radius: 10px;
    }
   .title {
  color: white;
  background: pink;
  padding-top:0.7em;
  padding-bottom:0.7em;
  background: #5e81a8;
border-radius: 10px 10px 0px 0px;
}
.title h1 {
  text-align: center;
    font-size:30px;
    font-weight:100;
}


h4{
    font-weight: 600 !important;
}
#new-btn {
    background: #048a7c;
    color: white;
}
.all-inform {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
}
#inform-about, #user-interface, #left-table {
    margin-bottom: 6px;
    padding: 1em;
    border: 1px solid #c0c0c0;
    overflow: hidden;
    background: white;
    z-index: 0; 
}
#inform-about, #user-interface {
    margin-left: 6px;
}
#user-interface  {
    text-align: left;
    margin-bottom: 6px;
}
.profile {
    color:black;
    padding-left:1em;
    padding-right:1em;
}
.ui-photo {
    width:95px;
    border-radius:100em;
    margin-top:1em;
    margin-bottom:0.5em;
}
