<!DOCTYPE html>
<html ng-app="myApp">

<head>

	<meta charset="utf-8">

	<title>allInSe</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<!-- Styles -->
	<link rel="stylesheet" href="../css/component.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/jquery-ui.css">
	<link rel="stylesheet" href="../css/particles.css">
	<!-- Library -->
	<link rel="stylesheet" href="../js/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../js/libs/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../js/libs/bootstrap/bootstrap-theme.css">
	<link rel="stylesheet" href="js/libs/fullcalendar/dist/fullcalendar.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

<!-- Custom HTML -->
	<div class="page-wrapper container-fluid">
		<div class="row">

			<!-- Сайдбар -->
			<div class="navigation ">
				<span>Навигация</span>
				<ul class="navigation-list">
					<li><a href="index.html"><i class="fa fa-home"></i>Главная</a></li>
					<li><a href="clients.html"><i class="fa fa-group"></i>Клиенты</a></li>
					<li><a href="#"><i class="fa fa-rub"></i>Финансы</a></li>
					<li><a href="#"><i class="fa fa-street-view"></i>Персонал</a></li>
					<li><a href="calendar.html"><i class="fa fa-calendar"></i>Календарь</a></li>
					<li><a href="#"><i class="fa fa-bullhorn"></i>Администрирование</a></li>
					<li><a href="#"><i class="fa fa-cogs"></i>Настройки</a></li>
				</ul>
			</div>

			<!-- Шапка -->
			<div class="header">

				<div class="logo hidden-xs hidden-sm col-md-2 col-lg-2">
					<img src="../img/logo.png" alt="">
				</div>
			<!--//-->
				<div class="leftside col-xs-5 col-sm-5 col-md-4 col-lg-4">
					<div class="toggle-box">
						<a href="#" class="toggle-mnu"><i class="fa fa-bars"></i></a>
					</div>
					<div class="search">
						<a href="#" class="advanced-search"><i class="fa fa-sliders"></i></a>
						<i class="fa fa-search"></i>
						<input type="search" placeholder="search">
					</div>
					<div class="search-cloud">
						<span class="input input--fumi">
							<input class="input__field input__field--fumi" id="input-23" type="text">
							<label class="input__label input__label--fumi" for="input-23">
								<span class="input__label-content input__label-content--fumi">Поиск по тегу</span>
							</label>
						</span>
						<span class="input input--fumi">
							<input class="input__field input__field--fumi" id="input-23" type="text">
							<label class="input__label input__label--fumi" for="input-23">
								<span class="input__label-content input__label-content--fumi">Поиск по имени</span>
							</label>
						</span>
						<button>поиск</button>
					</div>
				</div>
			<!--//-->
				<div class="rightside col-xs-7 col-sm-7 col-md-6 col-lg-6">
					<div class="notification">
						<a href="#" class=""><i class="fa fa-envelope"></i></a>
						<a href="#" class=""><i class="fa fa-bell"></i></a>
					</div>
					<div class="account hidden-xs">
						<img src="../img/coffee.png" alt="">
						<span>Александр Майстер</span>
						<span class="caret"></span>
					</div>
					<div class="acc-cloud">
						<a href="#">Профиль</a>
						<a href="#">Редактировать</a>
						<a href="#">Настройки</a>
						<hr>
						<a href="#">Выход</a>
					</div>
				</div>
			<!--//-->
			</div>

		<!--  Контент -->
			<div class="main-content container">
				<div class="row" ng-view>
		<!-- Конец контента -->

				</div>
			</div>


			<!-- Optimized loading JS Start -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
			<script src="../js/classie.js"></script>
			<script src="../js/calendar.js"></script>
			<script src="../js/common.js"></script>
			<script src="../js/search.js"></script>
			<script src="../js/script.js"></script>
			<script src="../js/libs/angular/angular.min.js"></script>
			<script src="../js/libs/angular/angular-route.min.js"></script>
			<script src="../js/libs/moment/min/moment.min.js"></script>
			<script src="../js/libs/fullcalendar/dist/fullcalendar.min.js"></script>
			<script src="../js/libs/fullcalendar/dist/locale-all.js"></script>
			<script src="../js/libs/bootstrap/bootstrap.js"></script>
			<script src="../js/libs/modernizr.custom.js"></script>
			<script src="../js/libs/wow/wow.min.js"></script>
			<script src="../js/libs/scrollreveal/scrollreveal.min.js"></script>

			<script src="../js/particles/particles.js"></script>
			<script src="../js/particles/app.js"></script>
			<!-- Optimized loading JS End -->
		</body>
		</html>
