<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Вход</title>
  <meta name="description" content="">
  <meta name="author" content="Gleb Lischishyn" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="css/particles.css">
  <link rel="stylesheet" media="screen" href="css/style.css">
  <link href="libs/bootstrap/bootstrap.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
<!--<script src="old/js/lib/jquery.min.js"></script>-->


<div id="particles-js" style="background:#7a97b8;"></div>
<div class="enter">
<div class="title">
<h1>Вход</h1>
</div>
<p>&nbsp;</p>
<div class="inputs" ng-controller="OAuth2Controller">
<input type="text" class="form-control" placeholder="Логин" id="login" ng-model="userData.login">

<input type="password" class="form-control" placeholder="Пароль" id="password" style="margin-top:7.5px;" ng-model="userData.password">

<button type="submit" id="login-btn" class="btn btn-default" ng-click="auth()">Войти</button>

<label for="checkbox" style="float:left; margin-top: 15px" id="log-check-label">
<input type="checkbox" id="remember" ng-model="userData.remember">&nbsp; Запомнить
</label>
</div>
</div>

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/angular/app.js"></script>
<script src="js/particles/particles.js"></script>
<script src="js/particles/app.js"></script>

</body>
</html>