</div>
</div>
<!-- Optimized loading JS Start -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/common.js"></script>
<script src="../js/search.js"></script>
<script src="../js/script.js"></script>
<script src="../js/libs/angular/angular.min.js"></script>
<script src="../js/libs/angular/angular-route.min.js"></script>
<script src="../js/libs/moment/min/moment.min.js"></script>
<script src="../js/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="../js/libs/fullcalendar/dist/locale-all.js"></script>
<script src="../js/libs/bootstrap/bootstrap.js"></script>
<script src="../js/libs/modernizr.custom.js"></script>
<script src="../js/libs/wow/wow.min.js"></script>
<script src="../js/libs/scrollreveal/scrollreveal.min.js"></script>
<!-- Optimized loading JS End -->
</body>